.catalog {
  background-image: url(../../img/world.png);
  background-repeat: no-repeat;
  background-position: 0 145px;
  background-size: 1444px 1089px;
  margin-bottom: 138px;
}

@media (max-width: @mobile) {
  background-image: none;
}
