.information {
  width: 470px;
  box-sizing: border-box;
}

.information__title {
  padding: 0 0 20px;
  margin-bottom: 30px;

  &::before {
    width: 175px;
  }
}

.information__text {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  color: @dark-opacity;
  padding-right: 80px;
}

.information__buy {
  width: 250px;
  font-size: 12px;
  font-weight: @medium;
}
