.questions__wrapper {
  position: relative;
}

.questions__form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 656px;
  background-color: @white;
  padding: 50px;
  box-sizing: border-box;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.questions__title {
  font-weight: @semi-bold;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.questions__text {
  font-weight: @regular;
  font-size: 16px;
  line-height: 150%;
  width: 100%;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
}

.questions__cover {
  width: 100%;
}

.questions__input {
  padding: 15px;
  box-sizing: border-box;
  width: 269px;
  margin-bottom: 25px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px fade(@dark, 30) inset;
}

.questions__input--tel {
  padding-left: 57px;
}

.questions__input--email {
  margin-right: 0;
}

